.social-contact {
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icon-div {
    padding: 6px;
    cursor: pointer;
    margin: 6px;
    transition: all .3s ease-in-out;
}

.social-icon-div:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transition: .3s ease;
    transform: scale(1.1);
}

.social-icons {
    height: 40px;
}

@media only screen and (max-width: 720px) {
    .social-icons{
        height: 32px;
    }
}